/* global.css */
@import '@fontsource/press-start-2p';

html, body {
    margin: 0;
    font-size: 50%;
    font-family: 'Press Start 2P', sans-serif;
    
}

body {
    height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    flex-grow: 1;
    background: #462d89;
}
