.user-collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin-left: 22rem;
    margin-right: 22rem;
    font-size: 2rem;

  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  .game-card-container {
    background-color: #58458a;
    border-radius: 1.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    padding: 0.5rem;
    background: linear-gradient(90deg, #6b27d3 0%, #843df2 100%);
    border-radius: 12px;
    margin-left: 25rem;
    max-width: 40rem;
  }
  
  .search-container label {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .search-input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.3s ease;
  }
  
  .search-input:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  }
  
  .search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  