.user-collection-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin-left: 22rem;
    margin-right: 22rem;
    font-size: 2rem;

  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  .game-card-container {
    background-color: #58458a;
    border-radius: 1.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
